{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "Notification Lambda",

  "Resources": {

    "NotificationQueue": {
      "Type": "AWS::SQS::Queue",
      "Properties": {
        "QueueName": "notification-queue"
      }
    },

    "NotificationFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "NotificationLambda::NotificationLambda.Function::FunctionHandler",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Tracing": "Active",
        "Environment": {
          "Variables": {
            "SMTP_SERVER": "smtp.gmail.com",
            "SMTP_PORT": "587",
            "SMTP_USER": "testsmract@gmail.com",
            "SMTP_PASS": "tykc wtwy dstq vwwy"
          }
        },
        "Policies": [
          "AWSLambdaBasicExecutionRole",
          "AmazonSQSFullAccess",
          {
            "Statement": [
              {
                "Effect": "Allow",
                "Action": [
                  "xray:PutTraceSegments",
                  "xray:PutTelemetryRecords"
                ],
                "Resource": "*"
              }
            ]
          }
        ],
        "Events": {
          "SQSTrigger": {
            "Type": "SQS",
            "Properties": {
              "Queue": {
                "Fn::GetAtt": [ "NotificationQueue", "Arn" ]
              },
              "BatchSize": 10
            }
          }
        }
      }
    }
  },

  "Outputs": {
    "NotificationQueueUrl": {
      "Description": "URL da fila SQS",
      "Value": {
        "Ref": "NotificationQueue"
      }
    },

    "NotificationQueueArn": {
      "Description": "ARN da fila",
      "Value": {
        "Fn::GetAtt": ["NotificationQueue", "Arn"]
      }
    }
  }
}